<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/index.css">
</head>

<body>
    <header class="header-bg">
        <div class="container">
            <nav class="flex-line">
                <div class="flex-line">
                    <img class="infoImg phoneInfoImg" src="../static/images/PhoneButton.png" alt="phoneImage">
                    <a href="tel:+0972365477" class="lightText">+0971063922</a>
                </div>

                <div class="flex-line">
                    <img class="infoImg emailInfoImg" src="../static/images/EmailButton.png" alt="emailImage">
                    <a href="mailto:supFizzyEml@.gmail.com" class="lightText">supFizzyEml@.gmail.com</a>
                </div>

                <div class="socialNetInfo">
                    <img src="../static/images/FaceBook.png" alt="emailImage">
                    <img src="../static/images/X.png" alt="emailImage">
                    <img src="../static/images/Instagram.png" alt="emailImage">
                </div>
            </nav>
        </div>
    </header>
    <img class="logo" src="../static/images/Logo.png" alt="logo">
    <menu class="start-menu">
        <div class="container">
            <div>
                <div class="refButtons">
                    <button class="greenButtonNav">Home</button>
                    <button class="greenButtonNav">About us</button>
                    <button class="greenButtonNav">Services</button>
                </div>
                <img class="leftVect" src="../static/images/LeftVect.png" alt="leftVect">
                <img class="rightVect" src="../static/images/RightVect.png" alt="rightVect">
            </div>
            <div class="textPanel">
                <p class="smallText DMserifStyle">Improve your communication skills with people</p>
                <p class="largeText DMserifStyle">Life-changing lessons for people with social anxiety</p>
                <p class="smallText InclusiveSansStyle">Support based on real results</p>
                <button class="greenButtonLogger">Sign in</button>
                <button class="greenButtonLogger">Log in</button>
                <img class="frogAposFirst" src="../static/images/FrogIconA.png" alt="frogA">
            </div>
            <div class="imageListblock">
                <img class="frogImage" src="../static/images/FrogImage.png" alt="frogA">
                <div>
                    <p class="DMserifStyle megaText">What you will get</p>
                    <ul class="advantList">
                        <li>improving social skills</li>
                        <li>building confidence</li>
                        <li>reducing anxiety</li>
                        <li>expert support</li>
                    </ul>
                </div>
                <img class="frogAposSecond" src="../static/images/FrogIconA.png" alt="frogA">
            </div>
            <img class="leftVect" src="../static/images/Vector%202.svg" alt="vector2">
            <div class="infocircles">
                <div class="circleInfo">
                    <p class="infoTextinCircle">{{improvInfo}}%</p>
                    <p class="infoForCircle">reported noticeable improvement in social confidence</p>
                </div>
                <div class="circleInfo">
                    <p class="infoTextinCircle">{{peopleInfo}}k+</p>
                    <p class="infoForCircle">people supported through our programs</p>
                </div>
                <div class="circleInfo">
                    <p class="infoTextinCircle">{{continueInfo}}%</p>
                    <p class="infoForCircle">continue practicing after 1 month</p>
                </div>
            </div>
            <div class="reviewInfo">
                <p class="megaText DMserifStyle">What people say about us</p>
                <div class="reviewBlocks">
                    <div class="reviewBlock">
                        <div class="starWithTextReview">
                            <img src="../static/images/Star.svg" alt="star">
                            <p>5.0</p>
                        </div>
                        <div class="textBlockReview">
                            <p class="mainTextBlockReview">Thanks to FIZZY!</p>
                            <p class="secondTextBlockReview">I used to be afraid to talk to strangers. Thanks to FIZZY,
                                I
                                found friends and feel more
                                confident!</p>
                        </div>
                        <div class="infoTextReview">
                            <p class="nameTextReview">Oleh</p>
                            <p class="hourTextReview">2h</p>
                        </div>
                    </div>
                    <div class="reviewBlock">
                        <div class="starWithTextReview">
                            <img src="../static/images/Star.svg" alt="star">
                            <p>5.0</p>
                        </div>
                        <div class="textBlockReview">
                            <p class="mainTextBlockReview">Great Service</p>
                            <p class="secondTextBlockReview">A great service! Helped me overcome stage fright.</p>
                        </div>
                        <div class="infoTextReview">
                            <p class="nameTextReview">Alina</p>
                            <p class="hourTextReview">19h</p>
                        </div>
                    </div>
                    <div class="reviewBlock">
                        <div class="starWithTextReview">
                            <img src="../static/images/Star.svg" alt="star">
                            <p>5.0</p>
                        </div>
                        <div class="textBlockReview">
                            <p class="mainTextBlockReview">Thanks for result</p>
                            <p class="secondTextBlockReview">Thank you! It really works. Amazing support.</p>
                        </div>
                        <div class="infoTextReview">
                            <p class="nameTextReview">Maria</p>
                            <p class="hourTextReview">1h</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="plansBlock">
                <p>Plans</p>
                <div class="plans">
                    <div class="plan">
                        <div class="flexLineInPlan">
                            <div class="circleinPlan">
                                <img src="../static/images/FreePlanFrog.png" alt="frogIcon">
                            </div>
                            <p>Basic plan</p>
                        </div>
                        <p class="explainPlanText">Perfect for beginners who want to take the
                            first step toward overcoming social anxiety. Access helpful materials and
                            join monthly group sessions for free.</p>
                        <p class="costPlanText">{{ basicPrice }}$/per month</p>
                        <p class="advantagePlanText">Advantages</p>
                        <ul class="advantListPlan">
                            <li>Improving social skills</li>
                            <li>Building confidence</li>
                        </ul>
                        <div class="centerButtonPlan vec5Placer">
                            <button type="button" class="actionButtonPlan">Try for free</button>
                        </div>
                    </div>
                    <div class="plan">
                        <div class="flexLineInPlan">
                            <div class="circleinPlan vec4Placer">
                                <img src="../static/images/PricePlanFrog.png" alt="frogIcon">
                            </div>
                            <p>Pro plan</p>
                        </div>
                        <p class="explainPlanText">Ideal for those who want faster and
                            deeper results. Get personal coaching, weekly guidance, and full access to all
                            interactive tools and exercises.</p>
                        <p class="costPlanText">{{ premiumPrice }}$/ per month</p>
                        <p class="advantagePlanText">Advantages</p>
                        <ul class="advantListPlan">
                            <li>Exercises and support chat</li>
                            <li>Personal consultations</li>
                        </ul>
                        <div class="centerButtonPlan">
                            <button type="button" class="actionButtonPlan">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="opinionBlock">
                <p class="opinionMainText">Your opinion should be heard!</p>
                <p class="opinionAddText">Try now and get a pro plan subscribe for free on 3 days</p>
                <button type="button" class="actionButtonEnd">Start now</button>
            </div>
            <div class="endPanel">
                <img src="../static/images/endImageFrogs.png" alt="endFrogsImage">
            </div>
        </div>
    </menu>
</body>

</html>